---
title: About
description: We've built an amazing team of developers, and speech therapist professionals.
image: /images/serbia01.jpg

---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
		
            <h1 class="editable">{% t pages.about_title %}</h1>
			<p class="subtext editable">{% t pages.about_desc %}</p>
            <h1 class="editable">{% t pages.about_vision_title %}</h1>
			<p class="subtext editable">{% t pages.about_vision_desc %}</p>
            <h1 class="editable">{% t pages.about_mission_title %}</h1>
			<p class="subtext editable">{% t pages.about_mission_desc %}</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="{{ person.github }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
