---
title: Home
description: Open-source AAC communication board.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Giving a voice</h1>
			<p class="subtext editable"><b>Cboard</b> is a web application for children and adults with speech and language impairment, aiding communication with pictures and text-to-speech.</p>
			<div class="cta button alt"><a href="https://shayc.github.io/cboard">Start Cboard</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Built for the web</h2>
				<p class="editable">Cboard works on modern browsers and is available on a wide variety of platforms, including desktops, tablets and mobile phones. Offline support is available on Google Chrome (desktop & android).</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/app/cant-speak-iphone-english.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Personalized boards</h2>
				<p class="editable">With more than 3400 symbols from the <a href="http://straight-street.com/">Mulberry Symbol Set</a>, you can create your own custom boards for different situations in life.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/app/home-board-ipad-hebrew.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">33 languages</h2>
				<p class="editable">Cboard comes with support for 33 languages, support varies between operating systems.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/app/pizza-nexus-hindi.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Join us on GitHub</h2>
				<p class="subtext editable">Cboard is an open-source project and we always appreciate a helping hand, if you want to contribute you are invited to our GitHub repo.</p>
				<div class="cta button alt"><a href="https://github.com/shayc/cboard/">Cboard GitHub</a></div>
			</div>
		</div>
	</section>
</div>
