.hero {
  color: #ffffff;
  text-align: center;
  height: 100vh;
  min-height: 550px;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  p {
    color: #fff;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    letter-spacing: 1px;
}

  .inner-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
  }

  .hero-text-container {
    width: 600px;
    text-align: center;
  }

  .hero-text-right {
    position: absolute;
    right: 0;
  }
}

.image {
  text-align: center;
}

.bottom-cta {
  text-align: center;

  h2 {
    margin-bottom: 12px;
  }
}

.download {
  color: #f5f5f5;
  text-align: center;
  background: linear-gradient(#6000dd,#5500c4);
	padding: 0 20px 100px 20px;

	&:first-child {
		padding-top: 100px;
	}
  h2 {
    font-size: 2.5em;
  }
}

.video {
  position: relative;
  padding: 60px 30px;
  color: #f5f5f5;
  text-align: center;
  background: linear-gradient(#ac2f8a,#ff00bb);
}

.video .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.youtube-video {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}

.badges {
  .badge-link {
      display: block;
      margin-bottom: 25px;
      &:last-child {
          margin-bottom: 0;
      }
      img {
          height: 60px;
      }
      @media(min-width: 768px) {
          display: inline-block;
          margin-bottom: 0;
      }
  }
}

@media #{$desktop} {
  .flex {
    @include flexbox;
    align-items: center;
    flex-direction: row;

    .text,
    .image {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 20px;
    }
  }

  .hero-text-container h1 {
    font-size: 65px;
  }
 
  .segment-text {
    text-align: center!important;
    margin-bottom: 100px;
    h1  {
      font-size: 55px;
    }
    p  {
      color: #6c757d!important;
    }
  }


  .content section:nth-child(even) .flex {
    flex-direction: row-reverse;
  }
}
