

{% for post in include.posts %}
	<li class="blog-post">
		<h2><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></h2>
		{% include post-title.html post=post %}
		<div class="post-content">
			{{ post.excerpt }}
			{% if post.externalLink %}
				<div class="button"><a href="{{ post.externalLink }}">Read On {{ post.externalSrc }}</a></div>
			{% else %}
				<div class="button"><a href="{% include relative-src.html src=post.url %}">Read More</a></div>
			{% endif %}
		</div>
	</li>
{% endfor %}






